*{
  /* fonts */
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: rgb(43, 43, 43);
  height: 100%;
}

#stats-container{
  display: flex;
  justify-content: space-evenly;
  max-height: 10vh;
}

#grid-container{
  min-height: 73.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div{
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 30px;
}

#grid{
  display: flex;
  flex-wrap: wrap;
  height: 700px;
  width: 700px;
}

.gridPlace{
  border: solid 1px rgb(0, 0, 0);
  /* background-color: grey; */
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  font-weight: bold;
}

#difficulty-container{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 10vh;
  align-items: center;
}

button{
  padding: 10px 5%;
  border-radius: 5px;
}

#title{
  max-width: 100%;
  text-align: center;
  color: red;
  max-height: 10vh;
}

/* Functions to change the appearance for the player during the game */

.easy{
  background-image: url(../images/Easy.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.medium{
  background-image: url(../images/Medium.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hard{
  background-image: url(../images/Hard.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hide{
  background-color: transparent;
  color: transparent;
  user-select: none;
}

.clicked{
  background: linear-gradient(aqua, 0px,transparent,100%);
  color: black
}

.revealHardMine{
  background-image: url(../images/HardMine.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.revealEasyMine{
  background-image: url(../images/EasyMine.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mine{
  
}

.victory{
  /* Append to the body (so it can cover part of everything) an image that shows victory ending display */
  
}

.lost{
  /* Append to the body (so it can cover part of everything) an image that shows losing ending display */
  
}