*{
  /* fonts */
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: rgb(158, 158, 158);
}

#stats-container{
  display: flex;
  justify-content: space-evenly;
  max-height: 10vh;
}

#grid-container{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid{
  display: flex;
  flex-wrap: wrap;
  height: 700px;
  width: 700px;
}

.gridPlace{
  border: solid 1px rgb(0, 0, 0);
  background-color: grey;
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
}

#difficulty-container{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 10vh;
  align-items: center;
}

button{
  padding: 10px 5%;
  border-radius: 5px;
}

/* Functions to change the appearance for the player during the game */

.clicked{
  background-color: green;
}

.mine{
  background-color: red;
}

.flag{

}

.victory{
  /* Append to the body (so it can cover part of everything) an image that shows victory ending display */
}

.lose{
  /* Append to the body (so it can cover part of everything) an image that shows losing ending display */
}